*{font-family: Poppins;}
	body{padding: 0; margin: 0; }
	a:-webkit-any-link {text-decoration: none !important;}
	.mainTitle{margin: 0 0 30px 0; font-size: 4.5em; font-weight: 600; padding: 30px 0 5px 0; line-height: 1.5em; display: table-cell; border-bottom: 3px solid #0097b6;}
	.mainTitleSmall{font-size: 3.5em;  padding: 30px 0 5px 0; line-height: 1.3em; display: table-cell; border-bottom: 3px solid #0097b6;}
	.saveTimeBookOnline{font-size: 2em; padding: 10px 0; line-height: 1.3em; color: #000000;}
	.centerText{text-align: center;}
	.whiteText{color: #FFFFFF;}
	.blackText{color: #000000;}
	.grayText{color: #686868;}
	.italic{font-style: italic;}
	.darkGrayText{color: #343434;}
	.blueText{color: #72CEEC;}
	.stdBoxShadow{box-shadow: 20px 20px 80px #ABABAB;}
	.stdBoxShadowOnColorBG{box-shadow: 20px 20px 80px #282828;}
	.centerWrap{max-width: 1100px; margin: auto;}
	.greenBG{background: #97AB47;}
	.logoBlueBG{background: #0097b6;}
	.grayBG{background: #212226;}
	.whiteBG{background: #FFFFFF;}
	.lightGrayBG{background: #EFEFEF;}
	.singlePhotoStyle{padding: 3px; border: 1px solid #CDCDCD;}
	.mainPageBioPhoto{max-width: 300px;}

	.mainSubtitle{font-size: 1.3em; padding: 50px 0;}
	.mainTitleUnderline{}
	.leftTitleUnderline{}

	.mainMenuLogoShell{float:left; padding: 20px 15px;}

	.mainPageDirectionsShell{margin: 50px 0; padding: 100px 0;}
	.mainPageMapShell{max-width: 800px; height: 500px; margin: auto;}

	.dentSquarePatternBG{width:100%; min-height: 200px;background-image: url(../layout/backgrounds/squarePatternBG.png);}
	.dentalLobbyBG{min-height: 650px; width: 100%; background: url(../layout/images/dentalLobby.jpg) no-repeat center center; background-size: cover;}

	.gridShell{grid-template-columns:50%, 50%;}

	.gridShell{display: grid; grid-gap: 0 4%;  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));}
	.gridColumnShell{padding: 0 5%;}

	.gridShellThirtyThree{display: grid; grid-gap: 0 5px; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}

	p{font-weight: 100; font-size: 1.2em;}

	.dentistSplashBG{margin: 0 0 50px 0; padding: 100px 0; min-height: 548px; width: 100%; background: url(../layout/backgrounds/splash.jpg) no-repeat center center; background-size: cover;}
	.dentistBG{padding: 100px 0; min-height: 548px; width: 100%; background: url(../layout/backgrounds/dentalchair-3.jpg) no-repeat center center; background-size: cover;}
	.whiteShadowShell{padding: 50px 3%; position: relative; top: 100px; max-width: 450px;}
	.whiteSplashShadowShell{max-width: 325px; padding: 40px 30px; position: relative; top: 200px;}

	.dentActionButtonShell{padding: 50px 0; text-align: center;}
	.dentGreenButton{padding: 10px 20px; background: #0097b6; color: #FFFFFF; text-decoration: none; transition: all .3s ease;}
	.dentGreenButton:hover{background: #006c81; padding: 10px 50px;}
	.dentTransButton{padding: 10px 40px; border: 1px solid #FFFFFF; color: #FFFFFF; text-transform: uppercase; font-weight: bold; text-decoration: none; font-size: 1.5em; transition: all .3s ease;}
	.dentTransButton:hover{background: #FFFFFF; color: #006c81;}

	.patientShell{margin-top: 25px}

	.mainPageServicesShell{margin: 0; padding: 0; list-style-type: none; text-align: center;}
	.mainPageServicesShell>li{display: inline; float: left; text-align: center;}
	.mainPageServiceIcons{padding: 20px 30px; text-align: center;}

	.testimonialText{font-style: italic; font-size: .95em;}
	.mainTitleQuote{font-style: italic; font-size: 1.5em;}

	.mainLogoIMG{max-width: 300px; transition: all .3s ease;}
	.wrapFurther{max-width: 900px; padding: 30px 120px;}

	.dentalServiceIconShell{padding: 50px 15px; text-align: center; min-height: 13	0px; display: block; margin: 60px 0;}
	.dentsalServiceTitle{font-size: 1.3em;}
	.dentalServiceIconShell{color: #1886c4; text-decoration: none;}
	.dentalServiceIconShell:hover{box-shadow: 20px 20px 80px #ABABAB;}

	.insuranceLogoColumnShell{padding: 25px 10px; text-align: center;}
	.dentalInsuranceShell{max-width: 1000px; padding: 30px 50px; margin: auto;}
	.dentalInsurnaceTitle{font-size: 2.5em; color: #686868;}

	/*dentalServices.php*/
	.contentShell{min-height: 400px; padding: 0px 3%; color: #000000;}
	.contentSubTitle{color: #1698b7; font-size: 1.3em;}
	.contentTitle{color: #000000; font-size: 2.5em; font-weight: bold;}
	.contentServicesList{color: #1698b7; list-style: none; padding: 0;}
	.contentServicesList>li{padding: 3px 5px;}
	.contentServicesList>li:hover{box-shadow: 5px 5px 20px #ABABAB;}
	.contentServicesList>li>a{color: #1698b7;}
	.contentList{list-style-type: square;}
	.contentQuote{padding: 0 40px;}
	.contentSubTitleCaption{margin-top: -10px; font-size: 1.1em;}
	.indexPagePaddingShell{padding: 5px 3%;}

	

	@media screen and (max-width: 780px)http://localhost/dentistnyc2/layout/images/innaChernDDS.jpg
	{
		.whiteSplashShadowShell{margin-bottom: 150px;}|
		.responsiveMargin{margin-top: 150px; padding: 0 30px;}
	}
	@media screen and (max-width: 880px)
	{
	}

	@media screen and (max-width: 480px)
	{
		.mainLogoIMG{width: 200px !important;}
		.mainTitleSmall{font-size: 3.5em !important;}
		.whiteShadowShell{max-width: 325px !important;}
		.whiteSplashShadowShell{max-width: 325px;}
	}